.profileFriends{
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .friendsList{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 8px;
        flex-wrap: wrap;
        list-style: none;
        flex: 1 1 80px;
        margin: 20px 0 0 0;
        padding: 0;

        @media (min-width: 699px){
            grid-template-columns: repeat(2, 1fr);
        }
    }
}