
.home_sidebar_container{
    margin-top: 20px;
    width: 400px;
}
.nav_buttons button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.friend-item {
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        background-color: #f0f0f0; // Зміна фону при наведенні
    }
}
.home_sidebar_add{
    width: 60%;
}

@media screen and (max-width: 899px) {
   

    .shome_sidebar_container{
      display: none;
     } 
    }