.profileRequests{
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .requestsList{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 8px;
        list-style: none;
        // margin: 20px 0 0 0;
        padding: 0;
        gap: 20px;

        
        @media (min-width: 515px){
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px){
            grid-template-columns: repeat(3, 1fr);
        }

        .requestList__item{
            display: flex;
            justify-content: center;
            padding-bottom: 3px;
        }
    }
}