
.profilePosts{
    display: grid;
    flex-direction: column;

    @media (min-width: 820px){
        grid-template-columns: 360px 1fr;
    }

    &__info{
        width: -webkit-fill-available;
        padding: 0 16px;

        @media (min-width: 820px){
            margin-right: 16px;
            padding: 0;
        }
        
    }

    .userInfo{
        padding: 20px 16px;
        // margin-top: 20px;
        background-color: white;
        border-radius: 8px;
        // width: -webkit-fill-available;
        margin-bottom: 16px;
    
        &__list{
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        &__item{
            display: flex;
            margin-top: 16px;
        }
    }

    .userFriends{
        padding: 20px 16px;
        background-color: white;
        border-radius: 8px;
        width: -webkit-fill-available;
    
        &__info{
            display: flex;
            justify-content: space-between;
        }
    
        &__list{
            list-style: none;
            padding: 0;
            margin: 8px 0 0 0;
            display: grid;
            gap: 8px;
            grid-template-columns: repeat(3, 1fr);
        }
    
        &__item{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            // align-items: center;
        }
    }
}