.Bookmarks{
    display: flex;
    justify-content: center;
    width: 46%; 
    padding-top: 50px;
    margin-right:230px ;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;

        -ms-overflow-style: none; 
    scrollbar-width: none; 
    }
}

.container{
    justify-content: center;
    height: 90vh;
}


@media screen and (max-width: 899px) {
   
    .Bookmarks{
       margin: 0 auto;
       width: 100%; 
     } 

     .navigationSideBarBookmarks{
        display: none;
     }
}
