.notifications_container {
  max-width: 940px;
  margin: 0 auto;
  .notifications_title,
  .notifications_empty {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    align-items: center;
  }
}
