.postComponent{
    max-width: 628px;
    margin: 0 auto;
    background: rgb(237, 248, 251);
    padding: 10px;
    border-radius: 10px;
    border: 4px solid rgb(221, 245, 251);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.postComponent_header{
    display: flex;
    justify-content: space-between;
}
.postComponent_header_btns button{
    margin: 5px;
}
