.postComponent_footer_activiti_btns{
    padding-bottom: 20px;
}

.postComponent_header_userinfo{
    margin-left: 20px;
}

.postComponent_body{
    margin-left: 0px;
}

.postComponent_body p{
    margin-left: 20px;
}
