
.bookmarksTitle {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    user-select: none;
}

.content{
    justify-content: center  ;
    padding-bottom: 30px;
    flex-direction: column;
}

.buttonBookmarks{
    margin-top: 15px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {

   .container{
    justify-content: center;
    padding-bottom: 30px;
   }
}
